@import url("navigation.css");
@import url("footer.css");
* {box-sizing: border-box;}

body{
	background-image: url("../assets/BG_contact1.jpg");
	background-size: 220px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2e3;
  padding: 20px;
  max-width:50%; 
  margin-left: 25%;
	margin-top: 20px;
	margin-bottom: 20px;
  left: 50%;
  border-radius: 10px;
}

.heading{
  background-color: rgba(183, 242, 253, 0.884);
  border-radius: 10px;
  width:fit-content;
  margin: auto;
  padding:10px ;
  margin-top:20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  overflow:hidden;
  border-radius: 10px;
  max-width: 50%;
  margin-left: 25%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.container1 {
  border-radius: 5px;
  background-color: #f2f2f2e3;
  padding: 20px;
}
