body {
    font-family: Verdana, sans-serif; 
    margin:0;
}


ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(6, 6, 138);
    overflow: hidden;
}

li{
    float: left;
}

li a{
    padding : 15px 15px;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.35s ease;
}

a:hover{
    background-color: rgb(40, 1, 1);
}

#login{
    float: right;
}

.active{
    background-color: rgba(143, 39, 39, 0.952);
}