<!DOCTYPE html>
<html>

<head>
    <title>Only for Owner</title>
    <link rel="stylesheet" href="../style/owner.css">
    <link rel="icon" href="../assets/icons8-palaqce-100.png" type="image/x-icon">
</head>

<body>
    <div class="navigation">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./tickets.html">Tickets</a></li>
            <li><a href="./ridesAndSlides.html">Rides & Slides</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
            <li id=login><a href="">log in</a></li>
        </ul>
    </div>
    <div class="box">
        <div class="parkInfo">
            <h1 style="text-align: center;">Dream Land Theme Park</h1>
        </div>
        <div class="ticket-data">
            <table>
                <tr>
                    <th colspan="8"><h1>Boocked Tickets</h1></th>
                </tr>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact No.</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>No. of Child</th>
                    <th>No. of Adult</th>
                    <th>Total</th>
                </tr>
            </table>
        </div>
        <hr>
        <div class="feedback-data">
            <table>
                <tr>
                    <th colspan="4"><h1>Feedbacks</h1></th>
                </tr>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Country</th>
                    <th>Feedback</th>
                </tr>
            </table>

        </div>
    </div>
</body>

</html>