@import url("navigation.css");
@import url("footer.css");


table, th, td {
    border: 1px solid black;
    text-align: center;
    background-color: #f2f2f2;
}

.ticket-data {
    width:max-content;
    margin: auto;
}

.feedback-data {
    width:max-content;
    margin: auto;
}

th, td {
    padding: 5px;
    margin: 2px;

}
