<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../style/checkout.css">
        <link rel = "icon" href ="../assets/icons8-palace-100.png" type = "image/x-icon">
    </head>
    <body>
        <div class="container">
            <div class="confermation">
                <h1 style="text-align: center;">Dream Land Theme Park</h1>
                <p style="text-align: center;">Recheck Detailes before Confirming.</p>
            </div>
            <div class="details">
                <div class="row">
                    <div class="col-25">
                      <label for="fname">First Name</label>
                    </div>
                    <div class="col-75">
                      <p id="fname"> First Name</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="lname">Last Name</label>
                    </div>
                    <div class="col-75">
                      <p id="lname"> Last Name</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="contact">Contact No.</label>
                    </div>
                    <div class="col-75">
                      <p id="contact"> Contact Number</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="Email">Email</label>
                    </div>
                    <div class="col-75">
                      <p id="email"> Email</p>
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col-25">
                      <label for="date">Date of Visit</label>
                    </div>
                    <div class="col-75">
                      <p id="date"> Date of Visit</p>
                    </div>
                  </div>
                  <div class="numberOfVisiter" style="display: flex;">
                    <div class="row">
                      <div class="col-50">
                        <label for="child">No. of Child and senior citizen</label>
                      </div>
                      <div class="col-50">
                        <p id="child"> Number of children and Senior Citizen</p>
                      </div>
                    </div>
                    <div class="row side">
                      <div class="col-50">
                        <label for="adult">No. of Adult</label>
                      </div>
                      <div class="col-50">
                        <p id="Adult"> Number of Adult</p>
                      </div>
                    </div>
                  </div>
                  <div class="price" style="display: flex;">
                    <div class="row">
                      <div class="col-50">
                        <label for="child-amount">Sub Total</label>
                      </div>
                      <div class="col-50">
                        <input type="text" id="child-amount">
                      </div>
                    </div>
                    <div class="row side1">
                      <div class="col-50">
                        <label for="adult-amount">Sub Total </label>
                      </div>
                      <div class="col-50">
                        <input type="text" id="adult-amount">
                      </div>
                    </div>
                  </div>
            </div>
        <div class="footer">
        
            <div class="column">
                <img src="../assets/logo1.52.png"><br>
                <div class="copyright">Dream Land © 2021. <a href="">Privacy policy</a></div> 
            </div>
            <div class="column">
                <div class="detail"><p><address>Address : 353 gandhi road,surat - 395010</Address></p></div>
                <div class="phone-number">026 1125-1125</div>
                <div class="mail">Email : <a href="mailto:dreamland@gmail.com">dreamland@gmail.com</a></div>
            </div>
        </div>
    </body>
</html>