<!DOCTYPE html>
<html>
    <head>
        <title></title>        
        <link rel="stylesheet" href="../style/contact.css">
        <link rel = "icon" href ="../assets/icons8-palace-100.png" type = "image/x-icon">
    </head>
    <body>
        
        <div class="navigation">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./tickets.html">Tickets</a></li>
                <li><a href="./ridesAndSlides.html">Rides & Slides</a></li>       
                <li><a href="./contact.html" class="active">Contact Us</a></li>
                <li id=login><a href="">log in</a></li>
            </ul>
        </div>
        <div>

        </div>
        <div class="container">
            <form>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            
                <label for="country">Country</label>
                <input type="text" id="country" name="Country" placeholder="Your Country name..">
                    
            
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="footer">
        
            <div class="column">
                <img src="../assets/logo1.52.png"><br>
                <div class="copyright">Dream Land © 2021. <a href="">Privacy policy</a></div> 
            </div>
            <div class="column">
                <div class="detail"><p><address>Address : 353 gandhi road,surat - 395010</Address></p></div>
                <div class="phone-number">026 1125-1125</div>
                <div class="mail">Email : <a href="mailto:dreamland@gmail.com">dreamland@gmail.com</a></div>
            </div>
        </div>
    </body>
</html>