<!DOCTYPE html>
<html>
    <head>
        <title></title>        
        <link rel="stylesheet" href="../style/contact.css">
        <link rel = "icon" href ="../assets/icons8-palace-100.png" type = "image/x-icon">
        <script>
            function pop(){
                alert("your feedback is submitted");
            }
        </script>
    </head>
    <body>
        
        <div class="navigation">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./tickets.html">Tickets</a></li>
                <li><a href="./ridesAndSlides.html">Rides & Slides</a></li>       
                <li><a href="./contact.html" class="active">Contact Us</a></li>
                <li id=login><a href="">log in</a></li>
            </ul>
        </div>
        <div class="heading">
            <h2 style="text-align:center">Your feedback is valuable for us</h2>
        </div>
        <div class="container">
            <form action="/feedback" method="GET">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            
                <label for="country">Country</label>
                <input type="text" id="country" name="Country" placeholder="Your Country name..">
                    
            
                <label for="subject">Feedback</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            
                <input type="submit" value="Submit" onclick="pop()">
            </form>
        </div>
        <div class="heading">
        <h2 style="text-align:center">Contact Team</h2>
        </div>
        <div class="row">
            <div class="column1">
                <div class="card">
                    <div class="container1">
                        <h2>Gor Smit Hashmukhbhai</h2>
                        <p>Regestration Number : 19BCT0103</p>
                        <p class="mail1">Email : <a href="gorsmit.hashmukhbhai2019@vitstudent.ac.in">gorsmit.hasmukhbhai@vitstudent.ac.in</a></p>
                        <p>Contact No. : +91 90169 02747</p>
                    </div>
                </div>
            </div>
    
            <div class="column1">
                <div class="card">
                    <div class="container1">
                        <h2>Mangroliya Harshkumar Hiteshbhai</h2>
                        <p>Regestration Number : 19BCT0152</p>
                        <p class="mail1">Email : <a href="harshkumar.hiteshbhai2019@vitstudent.ac.in">harshkumar.hiteshbhai2019@vitstudent.ac.in</a></p>
                        <p>Contact No. : +91 9978616943</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="footer">
        
            <div class="column">
                <img src="../assets/logo1.52.png"><br>
                <div class="copyright">Dream Land © 2021. <a href="">Privacy policy</a></div> 
            </div>
            <div class="column">
                <div class="detail"><p><address>Address : 353 gandhi road,surat - 395010</Address></p></div>
                <div class="phone-number">026 1125-1125</div>
                <div class="mail">Email : <a href="mailto:dreamland@gmail.com">dreamland@gmail.com</a></div>
            </div>
        </div>
    </body>
</html>