<!DOCTYPE html>
<html>
<head>
    <title>Land of Joy</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="icon" href ="../assets/icons8-palace-100.png" type = "image/x-icon">
    <script src="./slideshow.js"></script>
    
</head>

<body>
    <div class="Web">
        <div class="navigation">
            <ul>
                <li><a href="./index.html" class="active">Home</a></li>
                <li><a href="./tickets.html">Tickets</a></li>
                <li><a href="./ridesAndSlides.html">Rides & Slides</a></li>
                <li><a href="./parkInfo.html">Park Info</a></li>
                <li><a href="./thingsToDo.html">Things to do</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
                <li id=login><a href="">log in</a></li>
            </ul>
        </div>
        <!--- <img src="../assets/background1.png" class="first-image"/>--->            
        <div class="slideshow-container">

            <div class="mySlides fade">
              <img src="../assets/Images for slideshow/img1.jpg" style="width:100%" />
              <div class="text">Caption Text</div>
            </div>
            
            <div class="mySlides fade">
              <img src="../assets/Images for slideshow/img2.png" style="width:100%" />
              <div class="text">Caption Two</div>
            </div>
            
            <div class="mySlides fade">
              <img src="../assets/Images for slideshow/img3-1.jpg" style="width:100%" />
              <div class="text">Caption Three</div>
            </div>
            
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <br>

        <div style="text-align:center">
            <span class="dot active" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" activeDot", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " activeDot";
        }
    </script>
</body>
</html>