<!DOCTYPE html>
<html>
<head>
    <title>Land of Joy</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel = "icon" href ="../assets/icons8-palace-100.png" type = "image/x-icon">
</head>

<body>
    <div class="Web">
        <div class="navigation">
            <ul>
                <li><a href="./index.html" class="active">Home</a></li>
                <li><a href="./tickets.html">Tickets</a></li>
                <li><a href="./ridesAndSlides.html">Rides & Slides</a></li>
                <li><a href="./parkInfo.html">Park Info</a></li>
                <li><a href="./thingsToDo.html">Things to do</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
                <li id=login><a href="">log in</a></li>
            </ul>
        </div>
        
        
    </div>
</body>
</html>