<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="../style/ridesAndSlides.css">
    <link rel="icon" href="../assets/icons8-palace-100.png" type="image/x-icon">
</head>

<body>

    <div class="navigation">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./tickets.html">Tickets</a></li>
            <li><a href="./ridesAndSlides.html" class="active">Rides & Slides</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
            <li id=login><a href="">log in</a></li>
        </ul>
    </div>
    <div class="box">
        <div class="parkInfo">
            <h1 style="text-align: center;">Dream Land Theme Park</h1>
            <h3 style="text-align: center;">Here are some of the main Attractions of Our Park</h3>
        </div>

        <div class="Rides">
            <h2 style="text-align:center">Rides</h2>
        </div>
        <div class="row">
            <div class="column1">
                <div class="zoom">
                    <div class="card">
                        <img src="../assets/rides/LoopHoles.png" alt="LoopHoles" style="width:100%">
                        <div class="container">
                            <h2>Loop Holes</h2>
                            <p class="title">Type : Roller Coaster</p>
                            <p>Get Ready to feel Dizzy, Cause It's a Loop of Coaster Loop.<br>
                                Greatest Roller Coaster of all Time.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column1">
                <div class="zoom">
                    <div class="card">
                        <img src="../assets/rides/SkyDrop.jpg" alt="SkyDrop" style="width:100%">
                        <div class="container">
                            <h2>Sky Drop</h2>
                            <p class="title">Type : Drop Tower</p>
                            <p>Take you to the Heaven and then Drop you to the Hell.</p>
                            <p>A 150 Feets High Drop Tower.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column1">
                <div class="zoom">
                    <div class="card">
                        <img src="../assets/rides/Pendulum.jpg" alt="Pendulum" style="width:100%">
                        <div class="container">
                            <h2>Twister</h2>
                            <p class="title">Type : Pendulum</p>
                            <p>Make's you feel 360 with a crazy speed swing.</p>
                            <p>360° Spin with super High Swing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column1">
                <div class="zoom">
                    <div class="card">
                        <img src="../assets/rides/Splash.jpg" alt="Splash" style="width:100%">
                        <div class="container">
                            <h2>Splash</h2>
                            <p class="title">Type : Roller Coaster</p>
                            <p>Get Ready to be refreshed while enjoying your ride.</p>
                            <p>Roller Coaster with Water Splash.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column1">
                <div class="zoom">
                    <div class="card">
                        <img src="../assets/rides/Airswing.jpg" alt="Airswing" style="width:100%">
                        <div class="container">
                            <h2>Air-Swing</h2>
                            <p class="title">Type : Swing</p>
                            <p>Feels like swings from the heaven.</p>
                            <p>The Giant All directional Swings.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column1">
                <div class="zoom">
                    <div class="card">
                        <img src="../assets/rides/The Hex.jpg" alt="hex" style="width:100%">
                        <div class="container">
                            <h2>The Hex</h2>
                            <p class="title">Type : Swing</p>
                            <p>Looks like Octopus But It's The Hectopus.</p>
                            <p>Super fast juggle ride with spinning.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

        <div class="column">
            <img src="../assets/logo1.52.png"><br>
            <div class="copyright">Dream Land © 2021. <a href="">Privacy policy</a></div>
        </div>
        <div class="column">
            <div class="detail">
                <p>
                <address>Address : 353 gandhi road,surat - 395010</Address>
                </p>
            </div>
            <div class="phone-number">026 1125-1125</div>
            <div class="mail">Email : <a href="mailto:dreamland@gmail.com">dreamland@gmail.com</a></div>
        </div>
    </div>
</body>

</html>