<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../style/tickets.css">
        <link rel = "icon" href ="../assets/icons8-palace-100.png" type = "image/x-icon">
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                  $("#child").on("input", function(){
                    var price = 600;
                    var quantity = $("#child").val();
                    $("#child-amount").val(price*quantity);
                    $("#total").html(price*quantity+(1000*$("#adult").val()));
                  })
                  $("#adult").on("input", function(){
                    var price = 1000;
                    var quantity = $("#adult").val();
                    $("#adult-amount").val(price*quantity);
                    $("#total").html(price*quantity+(600*$("#child").val()));
                  })
                })
            </script>  
    </head>
    <body>
        <div class="navigation">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./tickets.html"  class="active">Tickets</a></li>
                <li><a href="./ridesAndSlides.html">Rides & Slides</a></li>       
                <li><a href="./contact.html">Contact Us</a></li>
                <li id=login><a href="">log in</a></li>
            </ul>
        </div>
        <div class="container">
            <form action="/checkout" method="GET">
              <div class="row">
                <div class="col-25">
                  <label for="fname">First Name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="fname" name="firstname" required aria-required="true" placeholder="Your First Name.." pattern="^[A-Za-z]{0,12}$" title="First Name must be in Letters">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="lname" name="lastname" required aria-required="true" placeholder="Your Last Name.." pattern="^[A-Za-z]{0,12}$" title="Last Name must be in Letters">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="contact">Contact No.</label>
                </div>
                <div class="col-75">
                  <input type="text" id="Contact" name="Contact" required aria-required="true" placeholder="Your Mobile no.." pattern="^[1-9][0-9]{9}$" title="Contact Number must contain 10 numbers with first non-zero">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="Email">Email</label>
                </div>
                <div class="col-75">
                  <input type="email" id="email" name="email" required aria-required="true" placeholder="Your Email.." title="Example:- xyz@abc.com">
                </div>
              </div>
              <div class="row"> 
                <div class="col-25">
                  <label for="date">Date of Visit</label>
                </div>
                <div class="col-75">
                  <input type="date" id="date" name="date">
                </div>
              </div>
              <div class="numberOfVisiter" style="display: flex;">
                <div class="row">
                  <div class="col-50">
                    <label for="child">No. of Child and senior citizen</label>
                  </div>
                  <div class="col-50">
                    <input type="number" min="0" id="child" name="child">
                  </div>
                </div>
                <div class="row side">
                  <div class="col-50">
                    <label for="adult">No. of Adult</label>
                  </div>
                  <div class="col-50">
                    <input type="number" min="0" id="adult" name="adult">
                  </div>
                </div>
              </div>
              <div class="price" style="display: flex;">
                <div class="row">
                  <div class="col-50">
                    <label for="child-amount">Sub Total</label>
                  </div>
                  <div class="col-50">
                    <input type="text" id="child-amount">
                  </div>
                </div>
                <div class="row side1">
                  <div class="col-50">
                    <label for="adult-amount">Sub Total </label>
                  </div>
                  <div class="col-50">
                    <input type="text" id="adult-amount">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="Total">Total amount : </label>
                </div>
                <div class="col-75">
                  <P id="total"></P>
                </div>
              </div>
              <div class="row">
                <input type="submit" value="Book Now">
              </div>
            </form>
          </div>
        <div class="footer">
        
            <div class="column">
                <img src="../assets/logo1.52.png"><br>
                <div class="copyright">Dream Land © 2021. <a href="">Privacy policy</a></div> 
            </div>
            <div class="column">
                <div class="detail"><p><address>Address : 353 gandhi road,surat - 395010</Address></p></div>
                <div class="phone-number">026 1125-1125</div>
                <div class="mail">Email : <a href="mailto:dreamland@gmail.com">dreamland@gmail.com</a></div>
            </div>
        </div>
    </body>
</html>
